<div style="
    display:flex;
    justify-content:center;
    margin-top:50px;
    margin-bottom:50px;
    font-family:Arial, sans-serif;
">

    <div style="
        width:90%;
        max-width:1000px;
        background:#ffffff;
        padding:25px;
        border-radius:12px;
        box-shadow:0 10px 25px rgba(0,0,0,0.15);
    ">

        <h2 style="
            text-align:center;
            margin-bottom:25px;
            color:#333;
        ">
            User Information
        </h2>

        <table style="
            width:100%;
            border-collapse:collapse;
            text-align:center;
        ">

            <thead>
                <tr style="background-color:greenyellow;
                    color:#ffffff;
                ">
                    <th style="padding:12px;">ID</th>
                    <th style="padding:12px;">Name</th>
                    <th style="padding:12px;">Email</th>
                    <th style="padding:12px;">Role</th>
                </tr>
            </thead>

            <tbody style="font-weight:bold;">
                {% for user in users %}
                <tr style="
                    background:#f9f9f9;
                    transition:background 0.3s;
                ">
                    <td style="padding:10px;">{{ user.id }}</td>
                    <td style="padding:10px;">{{ user.name }}</td>
                    <td style="padding:10px;">{{ user.email }}</td>
                    <td style="padding:10px;">{{ user.role }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="4" style="
                        padding:15px;
                        color:#777;
                    ">
                        No result found
                    </td>
                </tr>
                {% endfor %}
            </tbody>

        </table>

    </div>

</div>
